.hero{
    height: 100%;
    background: url("../img/bg/bg-hero.png") no-repeat;
    background-size: cover;
    border: rem(1px) solid #000000;
    @include tablets{
        background-position: right;
    }
    @include phones{
        background-position: 80%;
    }
}
.hero__container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.hero__text-section{
    width: 46%;
    margin-top: rem(102px);
    margin-bottom: rem(64px);
    @include tablets{
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        text-align: center;
        margin: rem(365px) auto rem(289px);
    }
    @include phones{
        margin: rem(260px) auto rem(242px);
        width: 96%;
    }
}
.hero__title{
    font-style: normal;
    font-weight: 700;
    font-size: rem(48px);
    line-height: 1.2em;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    @include phones{
        font-size: rem(38.5px);
    }
    @media screen and (max-width: 320px) {
        font-size: rem(31px);
    }
}
.hero__subtitle{
    margin-top: rem(17px);
    font-style: normal;
    font-weight: 400;
    font-size: rem(21px);
    line-height: 1.19em;
    margin-bottom: rem(60px);
    @include tablets{
        margin-bottom: rem(44px);
    }
}
.button-yellow{
    background: #FEDB3F;
    border-radius: rem(100px);
    padding: rem(21px) rem(41px);

    font-style: normal;
    font-weight: 800;
    font-size: rem(16px);
    line-height: 1.12em;
    text-transform: uppercase;
    
    color: #000000;
    &:hover{
        background: #FFD517;
        font-style: normal;
        font-weight: 800;
        font-size: rem(16px);
        line-height: 1.12em;
    }
}
.hero__icons-section{
    padding-top: rem(15px);
    padding-bottom: rem(65px);
    @include tablets{
        display: none;
    }
}
