.headline{
    padding: rem(107px) rem(292px) 0;
    @include tablets{
        padding: rem(269px) rem(139px) 0;  
    }
    @include phones{
        padding: rem(52px) 0 0;
    }
}
.headline__title{
    font-style: normal;
    font-weight: 700;
    font-size: rem(48px);
    line-height: 1.2em;

    text-align: center;
    text-transform: uppercase;

    color: $black;
    @include phones{
        font-size: rem(40px);
        line-height: 0.9em;
    }
}
.headline__subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: $baseFontSize;
    line-height: 1.22em;
    text-align: center;

    color: $gray;
    max-width: rem(436px);
    width: 100%;
    margin: rem(17px) auto 0;
    @include phones{
        font-size: rem(18px);
    }
}
.section__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include phones{
        margin-bottom: rem(52px);
    }
}

