$containerWidth: 940px;
$baseFontSize: 18px;

//colors
$black: #292929;
$gray: #666666;

//breakpoints
$tablets: 768px;
$phones: 480px;

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//fonts
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&family=Open+Sans&display=swap");

@import "media";
//layout
@import "layout";

//components
@import "./components/header";
@import "./components/hamburger";
@import "./components/open-menu";
@import "./components/hero";
@import "./components/features";
@import "./components/section";
@import "./components/shop";
@import "./components/benefits";
@import "./components/team";
@import "./components/productMenu";
@import "./components/reviews";
@import "./components/video";
@import "./components/form";
@import "./components/modal";
@import "./components/map";
@import "./components/footer";
@import "./components/navigation";